@import 'src/assets/variables';

@media screen and (max-width: 400px) {
    mat-label{
        font-size: $text-size-12;
        margin-bottom: $spacing-8;
    }
    mat-error {
        font-size: $text-size-12;
    }
    mat-icon {
        transform: scale(0.8);
    }
}