<mat-form-field subscriptSizing="dynamic" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" [formControl]="formControl">
  <button mat-icon-button matSuffix (click)="hide = !hide">
    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-error *ngIf="formControl.hasError('required')">{{ errorMessages['required'] }}</mat-error>
  <mat-error *ngIf="formControl.hasError('minlength')">{{ errorMessages['minlength'] }}</mat-error>
  <mat-error *ngIf="formControl.hasError('passwordsNotMatch')">{{ errorMessages['passwordsNotMatch'] }}</mat-error>
</mat-form-field>