<main>
    <section class="back-login">
        <mat-icon fontIcon="west" class="west"></mat-icon>
        <p>Cadastro</p>
    </section>

    <section class="signup" [formGroup]="signupForm">
        <div class="signup-text-form">
            <div class="signup-text">
                <p>Novo Cadastro</p>
                <p>Insira seus dados</p>
            </div>

            <div class="signup-form">
                <app-form-field 
                    label="Nome completo" 
                    type="text" 
                    [formControl]="$any(signupForm).get('nameFormControl')"
                    [errorMessages]="{ required: 'Nome é obrigatório', pattern: 'Nome inválido' }">
                </app-form-field>

                <app-form-field 
                    label="E-mail" 
                    type="email" 
                    [formControl]="$any(signupForm).get('emailFormControl')"
                    [errorMessages]="{ required: 'E-mail é obrigatório', pattern: 'E-mail inválido' }">
                </app-form-field>

                <app-password-field 
                    label="Senha de no mínimo 8 dígitos" 
                    [formControl]="$any(signupForm).get('passwordFormControl')"
                    [errorMessages]="{ required: 'Senha é obrigatória', minlength: 'Use 8 caracteres ou mais para sua senha' }">
                </app-password-field>

                <app-password-field 
                    label="Confirme sua senha" 
                    [formControl]="$any(signupForm).get('confirmPasswordFormControl')"
                    [errorMessages]="{ required: 'Confirme sua senha', passwordsNotMatch: 'As senhas não são iguais. Tente novamente.' }">
                </app-password-field>
            </div>

            <div class="signup-buttons">
                <button mat-stroked-button class="back">Voltar</button>
                <button mat-flat-button class="send" (click)="onSubmit()">Enviar</button>
            </div>
        </div>
    </section>
</main>
