<main>
    <section class="back-login">
        <div class="back-login__top">
            <mat-icon fontIcon="west" class="back-login__west"></mat-icon>
            <p class="back-login__text">Cadastro</p>
        </div>
    </section>

    <section class="signup" [formGroup]="signupForm">
        <div class="signup">
            <div class="signup__text">
                <p>Novo Cadastro</p>
                <p>Insira seus dados</p>
            </div>

            <div class="signup__form">
                <mat-form-field subscriptSizing="dynamic" appearance="outline" class="signup__form--field">
                    <mat-label class="signup__form--field--label">Nome</mat-label>
                    <input matInput type="text" formControlName="nameFormControl" [required]="false" class="signup__form--field--input">
                    <mat-error *ngIf="signupForm.get('nameFormControl')?.invalid && (signupForm.get('nameFormControl')?.dirty || signupForm.get('nameFormControl')?.touched)" class="signup__form--field--error">
                        {{ getErrorMessage('nameFormControl') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" appearance="outline" class="signup__form--field">
                    <mat-label class="signup__form--field--label">E-mail</mat-label>
                    <input matInput type="email" formControlName="emailFormControl" [required]="false" class="signup__form--field--input">
                    <mat-error *ngIf="signupForm.get('emailFormControl')?.invalid && (signupForm.get('emailFormControl')?.dirty || signupForm.get('emailFormControl')?.touched)" class="signup__form--field--error">
                        {{ getErrorMessage('emailFormControl') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field subscriptSizing="dynamic" appearance="outline" class="signup__form--field">
                    <mat-label class="signup__form--field--label">Senha</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="passwordFormControl" required="false" class="signup__form--field--input">
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
                      <mat-icon class="signup__form--field--icon">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signupForm.get('passwordFormControl')?.invalid && (signupForm.get('passwordFormControl')?.dirty || signupForm.get('passwordFormControl')?.touched)" class="signup__form--field--error">
                        {{ getErrorMessage('passwordFormControl') }}
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field subscriptSizing="dynamic" appearance="outline" class="signup__form--field">
                    <mat-label class="signup__form--field--label">Confirmar senha</mat-label>
                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPasswordFormControl" required="false" class="signup__form--field--input">
                    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-pressed]="hideConfirmPassword">
                      <mat-icon class="signup__form--field--icon">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="signupForm.get('confirmPasswordFormControl')?.invalid && (signupForm.get('confirmPasswordFormControl')?.dirty || signupForm.get('confirmPasswordFormControl')?.touched)" class="signup__form--field--error">
                        {{ getErrorMessage('confirmPasswordFormControl') }}
                    </mat-error>
                  </mat-form-field>
            </div>

            <div class="signup__button">
                <button mat-stroked-button class="signup__button--back">Voltar</button>
                <button mat-flat-button class="signup__button--send" (click)="onSubmit()">Enviar</button>
            </div>
        </div>
    </section>
</main>
