@import 'src/assets/variables';

@mixin button-base {
    width: $button-width;
    height: $button-height;
    border-radius: $border-radius;
    font-size: $text-size-14;
}

.back-login {
    display: flex;
    height: $spacing-64;
    align-items: center;
    justify-content: center;

    &__top {
        display: flex;
        align-items: center;
        margin-right: 424px;
    }

    &__west {
        cursor: pointer;
    }

    &__text {
        font-size: $text-size-22;
        margin-left: $spacing-16;
    }
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
        font-size: $text-size-16;
        font-weight: 500;
        text-align: left;
        width: 100%;
        margin-bottom: $spacing-16;
        margin-top: $spacing-28;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 552px;

        &--field {
            margin-top: $spacing-36;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    &__button {
        display: flex;
        justify-content: space-between;
        margin-top: $spacing-20;
        width: 100%;

        &--back {
            @include button-base();
            border: 1px solid $secondary-color !important;
            color: $primary-color !important;
        }

        &--send {
            @include button-base();
            background-color: $primary-color !important;
            color: $white-color !important;
            transition: 0.5s ease;

            &:hover {
                background-color: $hover-color !important;
            }
        }
    }
}

:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 4px;
}

::ng-deep .mdc-notched-outline > * {
    border-color: $secondary-color !important;
}

::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
    border-color: $primary-color !important;
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
    border-color: red !important;
}

@media screen and (max-width: 630px) {
    .back-login__top {
        margin-right: 238px;
    }
    .signup__text{
        margin-bottom: 0;
        margin-top: $spacing-8;
    }
    .signup__form {
        width: 324px;

            &--field {
                margin-top: $spacing-28;
            }
    }
    .signup__button {

        &--back, &--send {
            width: $button-width-630;
        }
    }
}

@media screen and (max-width: 400px) {
    .back-login{
        &__top {
            margin-right: 148px;
        }
        &__text {
            font-size: $text-size-18;
        }
    }
    .signup__text{
        font-size: $text-size-14;
    }
    .signup__form {
        width: 200px;

            &--field {
                margin-top: $spacing-28;
            }
    }
    .signup__button {
        &--back, &--send {
            width: $button-width-400;
        }
    }
    .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label .mdc-floating-label {
        font-size: $text-size-12 !important;
        margin-bottom: $spacing-8 !important;
    }
}