@import 'src/assets/variables';

@mixin button-base {
    width: $button-width;
    height: $button-height;
    border-radius: $border-radius-24;
    font-size: $text-size-14;
}

.back-home {
    display: flex;
    height: $spacing-64;
    align-items: center;

    &__top {
        display: flex;
        align-items: center;
        justify-items: center;
        margin-left: 135px;
    }

    &__west {
        cursor: pointer;
    }

    &__text {
        font-size: $text-size-22;
        margin-left: $spacing-16;
    }
}

.student-registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
        font-size: $text-size-16;
        font-weight: 500;
        text-align: left;
        width: 100%;
        margin-top: $spacing-28;
        margin-bottom: $spacing-28;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 552px;

        &--field {
            margin-top: $spacing-16;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 0;

            &--error {
                padding: 0 0;
            }
        }
    }

    &__button {
        display: flex;
        justify-content: space-between;
        margin-top: $spacing-20;
        width: 100%;

        &--back {
            @include button-base();
            border: 1px solid $secondary-color !important;
            color: $primary-color !important;
        }

        &--send {
            @include button-base();
            background-color: $primary-color !important;
            color: $white-color !important;
            transition: 0.5s ease;

            &:hover {
                background-color: $hover-color !important;
            }

            &.disabled {
                background-color: $secondary-color !important;
            }
        }
    }
}

:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 4px;
}

::ng-deep .mdc-notched-outline > * {
    border-color: $secondary-color !important;
}

::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
    border-color: $primary-color !important;
}

::ng-deep .mdc-text-field--invalid .mdc-notched-outline > * {
    border-color: red !important;
}

.mat-mdc-form-field-bottom-align::before {
    margin-left: -$spacing-14;
}