<div class="login__container">

    <img src="assets/img/logo-reforcaOBem.png" alt="Logo Reforça o Bem" class="login__image" />

    <p>Faça seu login para entrar na plataforma</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

        <mat-form-field appearance="outline" class="login__form-field">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" (blur)="validateEmail()" />
            <mat-error *ngIf="emailError">{{ emailError }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="login__form-field">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                (blur)="validatePassword()" />
            <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="passwordError">{{ passwordError }}</mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="rememberMe">Lembrar de mim</mat-checkbox>
        <button mat-raised-button color="primary" class="login__button" type="submit"
            [disabled]="loginForm.invalid">Entrar</button>

        <div class="login__footer">
            <button mat-button class="login__forgot-password-button" (click)="forgotPassword()">Esqueceu sua
                senha?</button>
            <a *ngIf="emailNotRegistered" class="register-link">conta não encontrada</a>

            <button mat-button class="login__footer__register-link" (click)="navigateToSignup()">Novo por aqui? Faça
                seu
                cadastro</button>
        </div>
    </form>
</div>