.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .login-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  mat-form-field {
    width: 100%; 
    margin: 15px;
  }

  .login-button {
    background-color: #65558f;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s;
    width: 100%;
    margin: 10px;

    &:hover {
      background-color: #FFFFFF;
      border: 2px solid #65558f;
      color: #65558f;
    }
  }

  .forgot-password-button {
    background-color: transparent;
    border: 2px solid #65558f;
    color: #65558f;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 25px;
    width: 100%; 

    &:hover {
      background-color: #65558f;
      color: #FFFFFF;
    }
  }

  .login-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    

    mat-checkbox {
      margin: 15px;
    }

    .register-link {
      color: #65558f;
      background-color: transparent;
      text-decoration: none;
      cursor: pointer;
      

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.password-field {
  display: flex;
  align-items: center;

  button {
    margin-left: -30px;
    color: #65558f;
  }
}

.register-button {
  color: #65558f;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}