$primary-color: #65558F;
$secondary-color: #79747E;
$white-color: #FFFFFF;
$hover-color: #716398;

$purple-variation-1: #41246D;
$purple-variation-2: #6F33B6;
$black-variation-1: #1D1B20;
$yellow-variation-1: rgba(255, 251, 0, 0.09);
$yellow-variation-2: #FFDD57;
$yellow-variation-3: #FFDF81;

$text-size-12: 12px;
$text-size-14: 14px;
$text-size-16: 16px;
$text-size-18: 18px;
$text-size-20: 20px;
$text-size-22: 22px;
$text-size-24: 24px;
$text-size-26: 26px;
$text-size-32: 32px;
$text-size-40: 40px;
$text-size-48: 48px;
$text-size-64: 64px;

$button-height: 40px;
$button-width: 264px;
$button-width-630: 146px;
$button-width-400: 92px;

$spacing-2: 2px;
$spacing-8: 8px;
$spacing-14: 14px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-64: 64px;

$border-radius-8: 8px;
$border-radius-24: 24px;
$border-radius-32: 32px;