$primary-color: #65558F;
$secondary-color: #79747E;
$white-color: #FFFFFF;
$hover-color: #716398;

$text-size-12: 12px;
$text-size-14: 14px;
$text-size-16: 16px;
$text-size-18: 18px;
$text-size-22: 22px;

$button-height: 40px;
$button-width: 264px;
$button-width-630: 146px;
$button-width-400: 92px;

$spacing-8: 8px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-28: 28px;
$spacing-36: 36px;
$spacing-64: 64px;

$border-radius: 24px;